@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    box-sizing: border-box;
    border-color: rgba(var(--foreground), 0.1);
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
